@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
}

.container
{
  margin: 20px;
}

.grey-paras
{
  background-color: lightgrey;
  padding: 5px 5px;
}

#center
{
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  background-color: gold;
  font-weight: 500;
  padding: 5px 5px;
  letter-spacing: 1px;
}

#scroll-indicator{
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 0;
  background: linear-gradient(135deg, gold, deeppink);
}

h1{
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
}

p{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: justify;
  font-weight: 500;
  letter-spacing: 1px;
}

@media only screen and (min-width: 600px){
  h1{
    font-size: 50px;
  }

  .container{
    margin: auto;
    width: 70%;
  }

  p{
    font-size: 18px;
  }
}